#gameContainer, html, body, .webgl-content
{
    background-color: #101014;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gameContainer
{
    position: fixed;
    z-index: 0;
    box-sizing: border-box;
}

#gameContainer canvas
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#loading
{
    position: relative;
    background-color: #7d5eff;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 100;
}

.loading-bar
{
    background-color: #0000002d;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 80px);
    overflow: hidden;
    height: 5px;
    width: 200px;
    z-index: 120;
}

.loading-bar .progress
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    z-index: 120;
}

.center
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}

.lds-dual-ring {
    display: inline-block;
    width: 40px;
    height: 40px;
}

#problems {
    z-index: 200;
    position: fixed;
    bottom: -106px;
    border-radius: 8px;
    background-color: #0000002d;
    color: white;
    font-family: Helvetica, Verdana, Tahoma, sans-serif;
    font-size: 11px;
    right: 5%;
    height: 120px;
    width: 155px;
    padding: 4px;
    text-align: center;
    transition: bottom 0.3s;
}

#problems a {
    color: rgba(255, 255, 255, 0.808);
    cursor: pointer;
    user-select: none;
}

#problems a.dl {
    color: rgba(255, 255, 255, 0.925);
}

#problems a:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#problems div {
    margin-bottom: 8px;
}

#problems.visible {
    bottom: -50px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    margin: auto;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}